* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  height: 90px;
  padding: 0 2em;
  background-color: #454A4E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 50%;
}
main {
  display: grid;
  place-items: center;
  height: calc(100vh - 90px);
}
.insert-img {
  border: 1px solid black;
  border-radius: .8em;
  height: 200px;
  aspect-ratio: 5 / 6;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.insert-img img {
  width: 100%;
}
.resto .campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5em;
}
.resto .atributo {
  color: #454A4E;
  font-size: 1.1em;
  border-bottom: 2px solid #3FC2AB;
  padding-bottom: 4px;
}
form {
  display: flex;
  gap: 1em;
  min-width: 300px;
  transform: translateY(-45px);
}
.resto {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.campo:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
}
.campo:first-of-type input {
  width: calc(100% - .8em);
}
.campo input {
  padding: .5em;
  padding-right: 0;
}
.tamanho {
  display: flex;
  gap: 1em;
}
.tamanho > div {
  position: relative;
}
.tamanho input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: 1px solid #aaaaaa;
  border-radius: 50%;
}
.tamanho input[type="checkbox"]:checked {
  background-color: #aaaaaa;
}
.tamanho input[type="checkbox"] ~ label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.botoes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  background-color: #EFEFEF;
}
.btn {
  cursor: pointer;
  border-radius: 1em;
  padding: .8em 1.5em;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: all 200ms;
}
.btn:active {
  transform: scale(0.9);
}
.btn-alterar {
  background-color: #3FC2AB;
}
.btn-cancelar {
  background-color: #E13554;
}